<p id="notice"><%= notice %></p>

<p>
  <strong>Mission type:</strong>
  <%= @mission.mission_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @mission.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mission.price %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @mission.apartment_id %>
</p>

<%= link_to 'Back', missions_path %>
